@charset "UTF-8";
/*abstracts*/
/*base*/
/*components*/
/*layout*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: rgb(179, 247, 78);
  border: 1px solid green;
}

.home {
  text-decoration-line: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}

.nav__list {
  display: flex;
  list-style-type: none;
  gap: 6.5rem;
}

.nav__list li a {
  text-decoration-line: none;
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
}

.abrir-menu {
  display: none;
}

.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu {
    display: block;
    color: black;
    font-size: 1.25rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .cerrar-menu {
    display: block;
    color: white;
    font-size: 1.25rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .nav {
    /*estas dos propiedades hacen que las demas propiedades no se vean, esto hace q el nav no se vea*/
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    flex-direction: column;
    align-items: end;
    gap: 2rem;
  }
  .nav__list li a {
    color: white;
  }
}
@media screen and (max-width: 550px) {
  .mainSecciones {
    display: none;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .mainSeccionesActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .padreBuscaChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    color: aquamarine;
    padding-bottom: 400px;
  }
  .padreNombreChat {
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .padreNombre1__nombreyfecha {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
  }
  .padreImagen1 {
    width: 18%;
    /* border: 1px solid white;*/
    display: flex;
    align-items: center;
  }
  .padreNombre1 {
    width: 64%;
    /*border: 0.2rem solid white;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-items: baseline;
  }
  .nombreChat {
    font-size: 1rem;
    /*border: 0.3rem solid black;*/
    width: 55%;
  }
  .tamañoFecha {
    /*border: 0.2rem solid black;*/
    font-size: 0.6rem;
    color: darkgray;
    width: 30%;
    flex-wrap: wrap;
  }
  .buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
  }
  .padreChatPrivado {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: yellowgreen;
  }
  .textoCristi {
    text-align: center;
    font-size: 18px;
    color: white;
  }
  .chat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid yellowgreen;
  }
  .lorem {
    padding: 17px;
    background-color: brown;
  }
  .chat1 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border: 5px solid yellowgreen;
  }
  .buscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .reducir {
    width: 60%;
  }
  .buton {
    width: 10%;
    background-color: yellowgreen;
  }
  .imagen1 {
    border: 1px solid black;
    width: 100%;
    border-radius: 90%;
  }
  .nombreLore {
    display: flex;
    flex-direction: row;
    width: 440%;
  }
  .fechaLore {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
}
/*page*/
/*themes*/
/*vendors*/

/*# sourceMappingURL=main.css.map */
