@charset "UTF-8";
/*abstracts*/
/*base*/
/*components*/
/*layout*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(32, 32, 32);
}

.icono-menu {
  background-color: rgb(193, 247, 0);
  color: rgb(149, 0, 255);
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: rgb(193, 247, 0);
}

.contenedorDeHome {
  background-color: rgb(193, 247, 0);
}

#home {
  text-decoration-line: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  background-color: rgb(193, 247, 0);
}

.color-icono {
  background-color: rgb(193, 247, 0);
  padding: 3px;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  background-color: rgb(193, 247, 0);
}

.nav__list {
  display: flex;
  list-style-type: none;
  gap: 5rem;
  background-color: rgb(193, 247, 0);
}

.nav__list li a {
  text-decoration-line: none;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  font-family: sans-serif;
  background-color: rgb(193, 247, 0);
  padding: 2px;
}

.abrir-menu {
  display: none;
}

.cerrar-menu {
  display: none;
}

#iconoDown {
  background-color: rgb(193, 247, 0);
}

#dropdown {
  display: none;
  position: absolute;
  top: 10%;
  right: 2%;
  width: 150px;
  background-color: rgb(2, 41, 2);
  height: 300px;
  text-align: end;
  border: 8px solid rgb(2, 41, 2);
}

#dropdown ul {
  list-style-type: none;
  background-color: rgb(2, 41, 2);
}

#dropdown ul li {
  background-color: rgb(2, 41, 2);
}

#dropdown ul li a {
  background-color: rgb(2, 41, 2);
  text-decoration: none;
}

.botonDropdown {
  border: 6px solid rgb(2, 41, 2);
  color: gold;
}

.botonDropdown :hover {
  cursor: pointer;
}

.iconoDropdown {
  color: black;
  background-color: yellow;
}

.textDropdown {
  color: aquamarine;
}

.ulPerfil {
  background-color: rgb(193, 247, 0);
}

.liPerfil {
  background-color: rgb(193, 247, 0);
  list-style-type: none;
}

.liPerfil a {
  background-color: rgb(193, 247, 0);
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .abrir-menu {
    display: block;
    font-size: 1.25rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .cerrar-menu {
    display: block;
    font-size: 1.25rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  #header {
    background-color: rgb(179, 247, 78);
    margin-bottom: 7%;
  }
  .nav {
    /*estas dos propiedades hacen que las demas propiedades no se vean, esto hace q el nav no se vea*/
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  }
  .contenedorDeHome {
    color: black;
    background-color: rgb(179, 247, 78);
  }
  .color-icono {
    background-color: rgb(179, 247, 78);
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    background-color: black;
    text-decoration-line: none;
  }
  .nav__list li a {
    color: white;
    padding: 20px;
    background-color: black;
    text-decoration-line: none;
  }
  .icono-x {
    color: rgb(149, 0, 255);
    font-size: 2rem;
    background-color: black;
  }
  #dropdownDesktop {
    display: none;
  }
  .ulPerfil {
    background-color: black;
  }
  .liPerfil {
    background-color: black;
  }
  .liPerfil a {
    background-color: black;
    color: white;
  }
  .iconoDown {
    background-color: black;
    color: black;
  }
}
.mainSecciones {
  display: none;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 4%;
}

.mainSeccionesActive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(1, 1, 22);
  border: 4px solid white;
}

.padreTitulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home {
  background-color: rgb(179, 247, 78);
  color: black;
}

.padreBuscaChat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(1, 1, 22);
  color: aquamarine;
  height: 700px;
  width: 100%;
  border: 4px solid wheat;
  height: 30%;
}

.contenedorH1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30px;
  width: 100%;
  text-align: center;
  align-items: end;
  background-color: rgb(1, 1, 22);
}

.h1 {
  height: 20px;
  width: 56%;
  color: white;
  background-color: rgb(1, 1, 22);
}

h1 {
  font-size: 18px;
  background-color: rgb(1, 1, 22);
}

#parteIzq {
  width: 28%;
  background-color: rgb(2, 41, 2);
  border: 21px solid rgb(2, 41, 2);
  border-left: 10px solid rgb(2, 41, 2);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#parteDer {
  border: 20px solid rgb(2, 41, 2);
  border-left: 1px solid black;
  width: 45%;
  padding-bottom: 500px;
  background-color: rgb(2, 41, 2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.padreNombreChat {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgb(2, 41, 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.padreNombreChatCris {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgb(2, 41, 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nombreyfecha {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10%;
  background-color: rgb(2, 41, 2);
  /*border: solid 1px red;*/
  width: 100%;
}

.padreImagen1 {
  width: 18%;
  border: 3px solid rgb(2, 41, 2);
  display: flex;
  align-items: center;
  background-color: rgb(2, 41, 2);
}

.padreNombre1 {
  width: 70%;
  /*border: 0.2rem solid white;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-items: baseline;
  background-color: rgb(2, 41, 2);
  gap: 0.2rem;
}

.nombreChat {
  font-size: 1rem;
  /*border: 0.3rem solid black;*/
  width: 35%;
  background-color: rgb(2, 41, 2);
}

.nombreChatCris {
  font-size: 1rem;
  /*border: 0.3rem solid black;*/
  width: 21%;
  background-color: rgb(2, 41, 2);
}

.nombreChatRodrigo {
  font-size: 1rem;
  /*border: 0.3rem solid black;*/
  width: 38%;
  background-color: rgb(2, 41, 2);
}

.tamañoFecha {
  /*border: 0.2rem solid black;*/
  font-size: 0.6rem;
  color: darkgray;
  width: 30%;
  flex-wrap: wrap;
  background-color: rgb(2, 41, 2);
}

.tamañoFechaCris {
  /*border: 0.2rem solid black;*/
  font-size: 0.6rem;
  color: darkgray;
  width: 30%;
  flex-wrap: wrap;
  background-color: rgb(2, 41, 2);
}

#tamañoFechaRodrigo {
  /*border: 0.2rem solid black;*/
  font-size: 0.6rem;
  color: darkgray;
  width: 30%;
  flex-wrap: wrap;
  background-color: rgb(2, 41, 2);
  font-weight: bold;
}

#tamañoFechaRenata {
  /*border: 0.2rem solid black;*/
  font-size: 0.6rem;
  color: darkgray;
  width: 30%;
  flex-wrap: wrap;
  background-color: rgb(2, 41, 2);
  font-weight: bold;
}

.buscador {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 20px solid rgb(2, 41, 2);
  background-color: rgb(2, 41, 2);
}

.textoCristi {
  text-align: center;
  font-size: 18px;
  color: white;
}

.buscar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: rgb(2, 41, 2);
  border: 20px solid rgb(2, 41, 2);
}

.reducir {
  width: 60%;
  background-color: white;
}

.reducir2 {
  width: 450px;
  height: 30px;
  background-color: white;
}

.buton {
  width: 10%;
  background-color: yellowgreen;
}

.buton2 {
  width: 10%;
  background-color: yellowgreen;
  height: 32px;
}

.imagen1 {
  border: 1px solid black;
  width: 100%;
  border-radius: 90%;
}

.chat1 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  border: 9px solid rgb(2, 41, 2);
  align-items: center;
  background-color: rgb(179, 226, 8);
  border-radius: 20px;
}

.nombreLore {
  display: flex;
  flex-direction: row;
  width: 440%;
}

.fechaLore {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.chat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 9px solid rgb(2, 41, 2);
  border-radius: 20px;
  align-items: center;
  background-color: rgb(179, 226, 8);
}

.lorem {
  padding: 17px;
  background-color: rgb(75, 153, 3);
  border: 5px solid rgb(179, 226, 8);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.938);
}

.lorem2 {
  padding: 17px;
  background-color: rgb(11, 12, 27);
  border: 5px solid rgb(179, 226, 8);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.938);
}

.padreImagen2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(179, 226, 8);
  border-radius: 20px;
}

.imagenChatPrivado {
  height: 55px;
  border-radius: 90%;
}

.nombresParrafo {
  font-size: 15px;
  text-align: center;
  background-color: rgb(179, 226, 8);
  color: black;
  font-weight: 600;
  border-radius: 20px;
}

.padreChatTitulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  background-color: rgb(2, 41, 2);
}

.imagen {
  width: 10%;
  border-radius: 90%;
  height: 55px;
}

.textoCristi {
  width: 30%;
  height: 55px;
  border: 5px solid rgb(2, 41, 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: aquamarine;
  background-color: rgb(2, 41, 2);
}

#activeRodrigo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10%;
  background-color: rgb(2, 41, 2);
  /*border: solid 1px red;*/
  width: 100%;
}

#activeRodrigo:hover {
  cursor: pointer;
}

#activeRenata {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10%;
  background-color: rgb(2, 41, 2);
  /*border: solid 1px red;*/
  width: 100%;
}

#activeRenata:hover {
  cursor: pointer;
}

#iconoCheckMensaje {
  display: none;
}

#iconoCheckMensajeRenata {
  display: none;
}

#checkCris {
  width: 5%;
  background-color: rgb(2, 41, 2);
}

.check {
  background-color: rgb(2, 41, 2);
}

.pendiente {
  background-color: rgb(2, 41, 2);
}

.padreLorem {
  background-color: rgb(179, 226, 8);
}

.conversacionPadre {
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 41, 2);
}

.h3 {
  background-color: rgb(2, 41, 2);
  color: white;
}

@media screen and (max-width: 550px) {
  .mainSecciones {
    display: none;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .mainSeccionesActive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(58, 250, 51);
    border-radius: 5px;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .home {
    background-color: rgb(179, 247, 78);
    color: black;
  }
  .padreBuscaChat {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(2, 41, 2);
    padding-bottom: 300px;
    width: 95%;
    border: 5px solid black;
  }
  .padreNombreChat {
    width: 100%;
    border-bottom: 1px solid black;
    background-color: rgb(2, 41, 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nombreyfecha {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    background-color: rgb(2, 41, 2);
    /*border: solid 1px red;*/
    width: 100%;
  }
  .padreImagen1 {
    width: 18%;
    border: 3px solid rgb(2, 41, 2);
    display: flex;
    align-items: center;
    background-color: rgb(2, 41, 2);
  }
  .padreNombre1 {
    width: 64%;
    /*border: 0.2rem solid white;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-items: baseline;
    background-color: rgb(2, 41, 2);
  }
  .nombreChat {
    font-size: 1rem;
    /*border: 0.3rem solid black;*/
    width: 35%;
    background-color: rgb(2, 41, 2);
  }
  .tamañoFecha {
    /*border: 0.2rem solid black;*/
    font-size: 0.6rem;
    color: darkgray;
    width: 30%;
    flex-wrap: wrap;
    background-color: rgb(2, 41, 2);
  }
  .buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border: 20px solid rgb(2, 41, 2);
    background-color: rgb(2, 41, 2);
  }
  .padreChatPrivado {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: yellowgreen;
  }
  .textoCristi {
    text-align: center;
    font-size: 18px;
    color: aquamarine;
  }
  .chat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid yellowgreen;
  }
  .lorem {
    padding: 17px;
    background-color: brown;
  }
  .chat1 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border: 5px solid yellowgreen;
  }
  .buscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(2, 41, 2);
  }
  .reducir {
    width: 60%;
  }
  .buton {
    width: 10%;
    background-color: yellowgreen;
  }
  .imagen1 {
    border: 1px solid black;
    width: 100%;
    border-radius: 90%;
  }
  .buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    border: 20px solid rgb(2, 41, 2);
    background-color: rgb(2, 41, 2);
  }
  .nombreLore {
    display: flex;
    flex-direction: row;
    width: 440%;
  }
  .fechaLore {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  .divActiveSeccionDerecha {
    display: none;
    width: 60%;
  }
  #parteDer {
    display: none;
  }
  #parteIzq {
    width: 90%;
  }
  .contenedorH1 {
    display: none;
  }
  #activeRenata {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    background-color: rgb(2, 41, 2);
    /*border: solid 1px red;*/
    width: 100%;
  }
  #activeRodrigo {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    background-color: rgb(2, 41, 2);
    /*border: solid 1px red;*/
    width: 100%;
  }
}
/*page*/
/*themes*/
/*vendors*/

/*# sourceMappingURL=main.css.map */
